body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.menu {
    background-color: #007fff;
    color: #ffffff;
    border-radius: 15px;
    text-align: center;
    text-decoration-line: none;
    padding: 10px;
    border: none;
}

.menu h1 {
    font-size: 30px;
    margin-bottom: 15px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
}

.botonMenu {
    text-decoration-line: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
}

.botonMenu:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: #51a7ff;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.botonFormulario, button[type=button] {
    text-decoration-line: none;
    background-color: #007fff;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: white;
    border: none;
    margin-top: 10px;
}

.botonFormulario:hover, button[type=button]:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: #51a7ff;
    border-radius: 10px;
    padding: 10px;
}


.contenido {
    display: block;
    text-align: justify;
    padding: 10px;
    text-align: center;
}

hr {
    border: none;
    height: 3px;
    background-color: #ffffff;
    margin: 15px;
}

.hr_azul {
    border: none;
    height: 3px;
    background-color: dodgerblue;
    margin: 15px;
}

table {
    text-align: center;
    padding: 10px;
    border-collapse: collapse;
}

th {
    padding: 10px;
    text-align: center;
    background-color: #51a7ff;
    color: white;
    border: 1px solid #ddd;
}

td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

.tablaFichaAdopcion td, .tablaFichaAdopcion th {
    text-align: left;
}

.fotoMascotaMiniatura {
    width: 100px;
    height: 100px;
}

.fotoMascotaFicha {
    width: 320px;
    height: 240px;
    border-radius: 10px;
}

.imagenGrande {
    width: 800px;
    height: 600px;
    border-radius: 10px;
}

.graficoEstadisticas {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.formulario_adopcion {
    text-align: left;
    padding: 5px;
    display: block;
    margin: 10px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.entradaFormulario {
    text-align: left;
}

select {
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    color: #333;
}

input[type="file"] {
    padding: 5px
}

input[type="email"],
input[type="nombre"],
input[type="text"],
input[type="file"],
input[type="tel"],
input[type="date"],
input[type="number"],
input[type="datetime-local"],
textarea,
select {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    color: #333;
    outline: none;
}

select {
    cursor: pointer;
    appearance: none;
    padding-right: 30px;
}

@media (max-width: 480px) {
    .botonMenu {
        display: block;
        margin: 10px 0;
        width: 88%;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 8px 5px;
    }
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.entradaFormulario input:invalid,
.entradaFormulario select:invalid,
.entradaFormulario textarea:invalid {
    border-color: red;
}

.mensaje-error {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
    display: block;
}

